html{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
button{
    color: rgb(187, 168, 174);
    background-color: rgb(37, 29, 29);
    border-radius: 5px;
}
button:hover{
    color: azure;
    background-color: rgb(85, 75, 75);
    cursor: pointer;
}
input{
    margin: 5px 5px 0px 5px;
    width: 100%;
    padding: 10px;
    font-size: 2em;
    border: 2px solid rgb(85, 75, 75);
    border-radius: 5px;
    background-color: rgb(222, 216, 216);
}
main{
    background-color: rgb(26, 25, 25);
    margin: 1em;
    border-radius: 7px;
    width:24%;
}

#display{
    display: flex;
    justify-content: center;
}
#display input{
    font-size:1.5em;
    padding: 20px;
}
#buttons{
    display:flex;
    justify-content: center;
}

#numbers{
    display:grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin: 5px;
}

.zero{
    grid-column: 1/span 2;
}
.number, .operator{
    font-size: 2em;
    margin:2px;
}
.clear, .erase{
    font-size: 1.5em;
    margin:2px;
}
.clear{
    grid-column: 2/span 2;
}
.first{
    grid-column: 1;   
}

#right{
    display: grid;
    grid-template-columns: 1fr;
    margin:5px;
}
#right button{
    padding: 20px;

}

